{
  "extends": "plugin:nullstack/recommended",
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "rules": {
    "nullstack/prettier": [
      "warn",
      {
        "trailingComma": "all",
        "tabWidth": 2,
        "semi": false,
        "singleQuote": true,
        "printWidth": 120
      },
      {
        "usePrettierrc": false
      }
    ]
  }
}